
### HOC Config ###
__pycache__/
*.py[cod]
*$py.class
*.kip
*.pyc
OC_Toolkit/
# PyInstaller build folders
build/
dist/
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# macOS
.DS_Store

# Windows
Thumbs.db
*.exe
*.dll

# IDEs
.vscode/
.idea/
*.iml